# Temporary subdirectories for compilation
/Debug/
/Release/

# Lokal collection of downloads
/Downloads/

# CustomColors: Ignore images for manuals
images_Manual/

# Keep only 'Default colors.txt' file
/CustomColors/*
!/CustomColors/Default?colors.txt

# Presets: 
/Presets/*

# Compiled Object files
*.o
*.obj
